@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(turquoise, pink); 
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

a {
  font-size: 7px;
  font-display: auto;
  color:bisque;
  text-decoration: none;
  padding: 0;
  margin:auto;
}

/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
  .App {
    width: 90%;
    font-size: 0.8em;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
  .App{
   width: 80%;
   font-size: 1em;
 }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
  .App{
    max-width: 70%;
    font-size: 1.1em;
   }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  .App{
    max-width: 70%;
    font-size: 1.4em;
   }
}

h1,p,ol,h3{
  color: rgb(152, 5, 81);
  padding: 30, 20px;
  margin-bottom: 30px;
}

h2 {
  color: rgb(241, 165, 204);
  padding-bottom: 20px;
}

p {
  padding: 8px 0px;
}

.centered {
  display:flex;
  flex-direction: column;
  justify-content: center; /* center items horizontally, in this case */
  align-items: center;     /* center items vertically, in this case */
  /* display: flex; */
}

.container {
  max-width: 90%;
  margin: 1px auto;
  overflow: auto;
  text-align: left;
  border: 1px solid steelblue;
  padding: 15%;
  border-radius: 5px;
}

img{
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
  width: 50%;
}
